body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
    font-size: 10vh;
}

#temp {
  font-size: 45vh;
}

* {
    text-align: center;
}
